.booking-grid {
    width: 90%; /* Full width */
    text-align: center; /* Center text horizontally */
    margin: 4% auto 0% auto;
}

.no-gutters {
    .row,
    .column {
        padding: 0 !important;
    }
    
    .row {
        margin-left: 0 !important;
        margin-right: 0 !important;
    }
    
    .column {
        margin: 0 !important;
    }
}

.row-data {
    border: 1px solid gray;
}

.no-select {
    -webkit-user-select: none; /* Safari */
    -moz-user-select: none; /* Firefox */
    -ms-user-select: none; /* Internet Explorer/Edge */
    user-select: none; /* Non-prefixed version, currently supported by Chrome, Opera and Safari */
}
